*{
 transition: all 0.3s;
    font-family: "Open Sans-Regular", Helvetica;
}
/* css related to NavBar*/
#navItems i{
   background-color: #0029ff;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   color: white;
   display: grid;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
#navItems i:hover{
   background-color: black;

}
/* css related to journey Board*/
#dashContainer{
    width: 8%;
    border-top-right-radius: 20px;
   
    
    height: 100vh;
}
#dashboard{
    width: 100%;
    box-shadow: 1px 1px 4px 2px #00000040;
    background-color: white;
    z-index: 99;
    height: 100%;
   
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
   

}
#blackBar{
    height: 60px;
    border-top-right-radius: 20px;
    background-color: black;
    cursor: pointer;
  display: grid;
    color: white;
    justify-content: space-between;
   
    align-items: center;
    justify-content: end;
    
    
  
   
 
}
#blackBar h4{
    width: 70%;

  
}
#blackBar.expandDashboard{
    display: flex;
}

#content{
    width: 88%;

}
/* css related to Notice Board*/
#noticeBoard{
    height: 60vh;
    width: 5%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    text-align: center;
   
  
}
#blackColumn{
    width: 60%;
    background-color: black;
    height: 100%;
    border-top-left-radius: 20px;
 
    border-bottom-left-radius: 20px;
    display: flex;
    letter-spacing: 10px;
     
   
    flex-direction: column;
    justify-content: space-around;
}
#blackColumn i{
    font-size: 1.4rem;
}


 /* dynamic css applied to dashboard by adding classes*/
#dashboard.expandDashboard{
   width: 35vw;
 
 
    
}
#dashItems{
    display: none;
    width: 80%;
   
    
}
#numbering{
   
    text-align: center;
    border:1px solid #0029ff;
    border-radius:10px;
    padding:0 1.5rem;
}
/* Css for help icons*/
#footIcons i{
    width: 70px;
    height: 70px;
    background-color:#0029ff;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
    color: white;
    font-size: 2rem;
    cursor: pointer;

}
#footIcons i:hover{
    background-color: black;
}
/* media queries for making the website responsive*/
@media screen  and (max-width:760px) {
    #numbering{
        
    border: none;
       padding: 0 0.2rem;

    }
    #footIcons i{
        width: 40px;
        height: 40px;
        background-color:#0029ff;
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius:50% ;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
    
    }
    #blackColumn{
        font-size: 0.6rem;
        letter-spacing: 4px;
    }
    #blackColumn i{
        font-size: 0.6rem;
    }
    nav img{
        display: block;
        margin: 0 auto;
    }
     
#dashboard.expandDashboard{
    width: 90vw;
  
  
     
 }
    
}
 
